---
layout: default
---
<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>

{{ content }}


<h2>Skillset</h2>

{%- assign langs_framework_misc = "langs,frameworks,misc" | split: "," -%}

{%- comment -%} Get the skills from the default language page {%- endcomment -%}
{% for stype in langs_framework_misc -%}
{%- assign default_language = site.defaults[0].values.lang -%}
{%- comment -%} Addressing by short_name avoid issues in case a person has different names in different languages (yes, this is a thing) {%- endcomment -%}
{%- assign base_author = site.authors | where: "lang", default_language | where: "short_name", page.short_name -%}
<h3> {{ site.data.skillset["titles"][stype] }} </h3>

<table>
  <tr> 
    {% for skill in base_author[0][stype] -%}
    <th colspan="2">
      {{ site.data.skillset[stype][skill.name].name }}
      {%- if skill.ver -%}
        ({{skill.ver | join: ","}})
      {%- endif -%}
    </th>
    {%- endfor %}
  </tr>
  <tr>
    {% for skill in base_author[0][stype] -%}
    {% if skill.self and skill.want %} {% assign cs = 1 %} {% else %} {% assign cs = 2 %} {% endif %}
    {% if skill.self %}<th colspan="{{cs}}">Self</th>{% endif %}
    {% if skill.want %}<th colspan="{{cs}}">Want</th>{% endif %}
    {%- endfor %}
  </tr>
  <tr>
    {% for skill in base_author[0][stype] -%}
    {% if skill.self and skill.want %} {% assign cs = 1 %} {% else %} {% assign cs = 2 %} {% endif %}
    {% if skill.self %}<td colspan="{{cs}}">{{skill.self}}</td>{% endif %}
    {% if skill.want %}<td colspan="{{cs}}">{{skill.want}}</td>{% endif %}
    {%- endfor %}
  </tr>
</table>

{% endfor %}

<h2>Posts ({{site.data.languages[page.lang].label}}) </h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name | where: "lang", page.lang %}
  {% for post in filtered_posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>